
		header{
			background-color: #0059b3;
			color: #f2f2f2;}
		
		#img{
		height:30px; width:30px;}
		h3,img,#cart{
			display: inline-block;
			margin-left=30px;}
		#menu{
			padding-left: 1200px;
			color: #FFFFFF;}
		#cart{
			margin-left: 60px;
			color: #FFFFFF;}
		#tru{
			font-size: 40px;
			margin-left: 50px;
			color: #FFFFFF;
			text-decoration:none;
			}
		.center {
			text-align:center;
			font-size:25px;
  			  margin-left:230px;border-spacing:16px;}
		footer{
			bottom:0;
			left:0;
			width:100%;
			background-color:#808080;
			position:fixed;}
		.left{
			text-align:left;
			font-size:25px;
			}
		#table{margin-left:230px;
		}
		#name{
			margin-left:230px;
			width:1000px;
			font:10px;}
		#text{width:540px;
			margin-left:230px;}
		#save{  width:80px;
			height:50px;
			color:#FFFFFF;
			background-color: #0059b3
			}
	#success{
			margin-left:230px;
			font-size: 20px;
			color: #00CC00;}
#item1{
			font-size:30px;
			margin-left:230px;}
#item{
			font-size:30px;
			margin-left:230px;}
#notification{		margin-left:230px;
			font-size: 20px;
			color: #00CC00;
}
#Menu Item List{
color:#0000FF;}
#No_items{
color:#808080;
margin-left:230px;}
.aaa{
color: #FFFFFF;
}