<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
	<add name="truYum"
		 connectionString="data source=SHUBHAMSHARMA\MSSQLSERVER01; database=truyum;Integrated security=true"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>